<% provide(:title, "Pacientes") %>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="new-pacient mt-3">
                <div class="row">
                    <div class="col-10 offset-1 col-md-8 offset-md-2  text-center">
                        <%= link_to new_hospital_paciente_path(hospital_id: @hospital.slug),
                            class: "btn btn-primary btn-block" do %>
                            <span><i class="fa fa-plus-square" aria-hidden="true"></i></span>
                            Agregar nuevo paciente
                        <% end %>
                    </div>
                    <div class="col-10 offset-1 col-md-8 offset-md-2  text-center pt-2">
                        <%= link_to hospital_pacientes_egresados_path(hospital_id: @hospital.slug),
                            class: "btn btn-secondary btn-block" do %>
                            <span><i class="fa fa-share" aria-hidden="true"></i></span>
                            Ver pacientes egresados
                        <% end %>
                    </div>
                </div>
            </div>
            <hr>
            <div class="pacientes">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-8 offset-sm-2 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                            <% if @pacientes.empty? %>
                                <h4>No hay pacientes aun</h4>
                            <% else %>
                                <% @pacientes.each do |paciente| %>
                                    <%= link_to hospital_paciente_path(hospital_id: @hospital.slug, id: paciente.slug) do %>
                                        <div class="box">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-8 p-0">
                                                        <p><%= paciente.nombre %></p>
                                                    </div>
                                                    <div class="col-4 p-0">
                                                        <p class="camilla"><span><i class="fa fa-bed" aria-hidden="true"></i></span>: <%= paciente.camilla %>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <span class="span-color"><%= paciente.antecedentes %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
