<p id="notice"><%= notice %></p>
<div class="container">
	<div class="col-12 col-sm-8 offset-sm-2">
		<%= link_to 'Atras', hospital_pacientes_path(hospital_id: @hospital.slug),
			class: "pull-right" %>
		<br>
		<div class="row info-row">
			<div class="col-6">
			    Camilla:
			</div>
		    <div class="col-12 offset-sm-2 col-sm-8 pl-5">
		        <%= @paciente.camilla %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-6">
			    Nombre:
			</div>
		    <div class="col-12 offset-sm-2 col-sm-8 pl-5">
		        <%= @paciente.nombre %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-6">
			    Edad:
			</div>
		    <div class="col-12 offset-sm-2 col-sm-8 pl-5">
		        <%= @paciente.edad %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-6">
			    Genero:
			</div>
		    <div class="col-12 offset-sm-2 col-sm-8 pl-5">
		        <%= @paciente.genero%>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-6">
			    Fecha de Ingreso:
			</div>
		    <div class="col-12 offset-sm-2 col-sm-8 pl-5">
		        <%= (@paciente.fecha_de_ingreso).strftime("%b %d, %Y") %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-6">
			    Antecedentes:
			</div>
		    <div class="col-12 offset-sm-2 col-sm-8 pl-5">
		        <%= @paciente.antecedentes %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-6">
			    Diagnostíco:
			</div>
		    <div class="col-12 offset-sm-2 col-sm-8 pl-5">
		        <%= @paciente.diagnostico %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-6">
			    Plan:
			</div>
		    <div class="col-12 offset-sm-2 col-sm-8 pl-5">
		        <%= @paciente.plan %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-6">
			    Pendientes:
			</div>
		    <div class="col-12 offset-sm-2 col-sm-8 pl-5">
		        <%= @paciente.pendientes.nil? ? "N/A" : @paciente.pendientes %>
		    </div>
		</div>
		<br>
		<div class="btn-group d-flex" role="group" aria-label="editables">
			<%= link_to dar_alta_hospital_paciente_path(hospital_id: @hospital.slug, id: @paciente.slug),
				class: "btn btn-primary w-100", method: :post,
				data: { confirm: "Dar de alta a #{@paciente.nombre}?" } do %>
				Dar De Alta
			<% end %>
			<%= link_to edit_hospital_paciente_path(hospital_id: @hospital.slug, id: @paciente.slug),
				class: "btn btn-light w-100" do %>
					Editar
			<% end %>
		</div>
		<br>
		<%= link_to hospital_paciente_path(hospital_id: @hospital.slug, id: @paciente.slug),
			class: "pull-right", method: :delete,
			data: { confirm: "Elimar a #{@paciente.nombre}?" } do %>
			<small>Borrar</small>
		<% end %>
	</div>
</div>
