<p id="notice"><%= notice %></p>
<div class="container">
	<div class="col-12 col-sm-8 offset-sm-2">
		<%= link_to 'Atras', hospital_pacientes_egresados_path(hospital_id: @hospital.slug),
			class: "pull-right" %>
		<br>
		<div class="row info-row">
			<div class="col-3 col-sm-3">
			    Camilla:
			</div>
		    <div class="col-9 col-sm-9">
		        <%= @paciente.camilla %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-3 col-sm-3">
			    Nombre:
			</div>
		    <div class="col-9 col-sm-9">
		        <%= @paciente.nombre %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-3 col-sm-3">
			    Edad:
			</div>
		    <div class="col-9 col-sm-9">
		        <%= @paciente.edad %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-3 col-sm-3">
			    Genero:
			</div>
		    <div class="col-9 col-sm-9">
		        <%= @paciente.genero%>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-3 col-sm-3">
			    Fecha de Ingreso:
			</div>
		    <div class="col-9 col-sm-9">
		        <%= (@paciente.fecha_de_ingreso).strftime("%b %d, %Y") %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-3 col-sm-3">
			    Antecedentes:
			</div>
		    <div class="col-9 col-sm-9">
		        <%= @paciente.antecedentes %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-3 col-sm-3">
			    Diagnostíco:
			</div>
		    <div class="col-9 col-sm-9">
		        <%= @paciente.diagnostico %>
		    </div>
		</div>
		<div class="row info-row">
			<div class="col-3 col-sm-3">
			    Plan:
			</div>
		    <div class="col-9 col-sm-9">
		        <%= @paciente.plan %>
		    </div>
		</div>
		<br>

		<div class="btn-group d-flex" role="group" aria-label="editables">
			<%= link_to ingresar_hospital_pacientes_egresado_path(hospital_id: @hospital.slug, id: @paciente.slug),
				class: "btn btn-secondary w-100", method: :post,
				data: { confirm: "Ingresar #{@paciente.nombre} ?" } do %>
			    Ingresar nuevamente
			<% end %>
		</div>
	</div>
</div>


