<%= simple_form_for :session, url: session_path do |f| %>
    <div class="row">
        <div class="col-12 offset-sm-2 col-sm-8">
            <%= f.input :email, type: 'email',label: false, placeholder: 'correo' %>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-sm-2 col-sm-8">
            <%= f.input :password,label: false, placeholder: 'contraseña' %>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-sm-2 col-sm-8">
            <%= f.input :remember_token, label: "Guardar?",
                as: :boolean, checked_value: true, unchecked_value: false  %>
        </div>
    </div>


    <div class="row">
        <div class="offset-6 col-6 offset-sm-4 col-sm-6">
            <%= f.button :submit, "Crear Cuenta",class: "btn btn-primary btn-block" %>
        </div>
    </div>

    <div class="other-links">
        <%#= link_to t(".forgot_password"), new_password_path %>
    </div>
<% end %>
