<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Toma De Notas">
        <meta name="author" content="Jose V">
        <title><%= full_title(yield(:title)) %></title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= favicon_link_tag 'favicon.ico' %>
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800i" rel="stylesheet">
    </head>

    <body>
        <div id="flash">
          <% flash.each do |key, value| -%>
            <div id="flash_<%= key %>"><%=h value %></div>
          <% end %>
        </div>

        <%= render "shared/nav_bar" %>
        <%= yield %>
    </body>
</html>
